element.style {
padding-bottom:5px;
}
#content #paddedContent div h h2 p  {
padding:0 30px 0 0;
}
#content #paddedContent li {
padding-right:10px;
}

#content ul.steps li.step1 {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/1_small.png) no-repeat scroll 0 0;
padding-bottom:5px;
}
#content ul.steps li.step2 {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/2_small.png) no-repeat scroll 0 0;
padding-bottom:5px;
}
#content ul.steps li.step3 {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/3_small.png) no-repeat scroll 0 0;
padding-bottom:10px;
}

#content ul.steps li {
height:100%;
list-style-position:outside;
list-style-type:none;
padding-left:25px;
}

#content ul li, #content ol li {
overflow:visible;
}

