td {
	word-wrap: normal;
}

.nowrap {
	white-space: nowrap;
}

.column {/*
	max-height: 1em;
	height: 1em;
	min-width: 5em;
	width: 5em;*/
	text-align: center;
	padding: 0;
	margin: 0;
	font-size: 11px;
	font-family: "arial";
}

.indexcolumn {
	max-height: 1em;
	height: 1em;
	min-width: 2em;
	width: 2em;
	padding: 0 1em;
	text-align: center;
	margin: 0;
	font-size: 11px;
	font-family: "arial";
	text-align: center;
	font-weight: normal;
}

.itemname {
	max-height: 100%;
	width: 54em;
	padding: 0;
	font-size: 11px;
	font-family: "arial";
	text-align: left;
	font-size: 11px;
	font-weight: normal;
	border: none;
}

.itemmeasure {
	min-width: 6em;
	width: 6em;
	padding: 0;
	font-weight: normal;
}

.itemtable {
	text-align: center;
	max-height: 1em;
	height: 1em;
	padding: 0px;
}

.left {
	text-align: left;
}

.header {
	text-align: left;
	margin: 0;
	padding: 0;
	overflow: auto;
}

.deletecenter {
	margin-left: 0;
	margin-right: 0;
}

.message {
	color: red;
	position: left;
}

.input {
	width: 99%;
	text-align: left;
	font-size: 11px;
	font-family: "arial";
	font-weight: normal;
	font-size: 11px;
	padding-top: 1px;
	min-height: 14px;
	height: 15px;
}

.leftpos {
	padding-right: 35%;
}

.save-sign {
	position: fixed;
	left: 10px;
	top: 10px;
}

.itemheader {
	text-align: left;
}

.subcategory {
	font-family: "arial";
	font-weight: bold;
	display: block;
	text-align: left;
	background-color: gray;
	font-size: large;
}

.headersub {
	text-align: left; 
	/*overflow: auto;*/
	padding-top: 0;
        padding-bottom:0;
        background-image: url('../images/bg_cap.jpg')!important;
	background-color: #A4C009 !important;
	font-family: "arial";
	font-weight: bold;
	font-size: 12px;
	background-color: gray !important;
}

.headercat {
	font-family: Arial, Verdana, sans-serif;
	font-size: 14px;
	font-weight: bold !important;
}

.rich-table {
	border-collapse: separate;
	border: none;
}

.rich-table-cell,.rich-subtable-cell {
	padding: 0px;
	border: 0;
}

.rich-table-footercell {
	padding: 0;
}

.realisticinput {
	border: none;
	background-color: transparent;
        width:30%;
}